<html>
<head>
    <title>List of tasks</title>
</head>
<body>
    <h1>This page will show a list of tasks!</h1>

<form method="post">
    {% csrf_token %}

<table border="1">
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Add Date</th>
     <th>Done</th>
  </tr>

  {% for task in tasks %}
    <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.taskDescription}}</td>
      <td>{{ task.done }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="3">No tasks yet</td>
    </tr>
  {% endfor %}
</table>



  </form>



</body>
</html>
